@media (max-width:1024px){
    .container{
        margin: 0px 15px;
    }

    
}

@media (max-width:768px){
    .header_about{
      flex-direction: column;
    }
    .header_about_left{
        text-align: center;
    }
    .header_maininfo_right{
        margin: 0 auto;
    }
    .contact_title{
        flex-direction: column;
        justify-content: baseline;
        gap: 15px;
        padding: 50px 0px;
        text-align: center;
    }

    .contact_title>h2{
        padding: 0;
        max-width: 1000px;
    }
}

@media (max-width:425px){
    .header_about_left>p{
        font-size: 20px;
    }
    .contact_title>h2{
        font-weight: 400;
        font-size: 25px;
        line-height: 48px;
    }
    .contact_title>a{
        font-size: 20px;
    }
}