@media (max-width:1024px){
    .colorful_shadow {
        right: 0;
    }

    .container{
        padding: 0px 20px;
    }

    .portfolio_photos>img{
        display: block;
        width: calc(33.33% - 30px);
    }
    

}

@media (max-width:768px){
    .header_maininfo{
        flex-direction: column;
        align-items: center;
        
    }

    .header_maininfo_left{
        padding-top: 0;
    }

    .portfolio_photos{
        flex-wrap: wrap;
    }

    .portfolio_photos>img{
        width: calc(50% - 30px);
    }

    .header_user_photo{
        display: block;
        width: 100%;
    }
    .header_maininfo_left{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header_about{
      flex-direction: column;
    }
    .header_about_left{
        text-align: center;
    }
    .header_maininfo_right{
        margin: 0 auto;
    }
    .contact_title{
        flex-direction: column;
        gap: 15px;
        padding: 50px 0px;
        text-align: center;
    }

    .contact_title>h2{
        padding: 0;
        max-width: 1000px;
    }
}

@media (max-width:425px){
    .header_menu_left_list{
        display: none;
    }

    .burger_menu{
        display: flex;
    }

    .header_menu{
        display: flex;
        justify-content: space-between;
    }

    .portfolio_photos>img{
        width: 100%;
    }

    .portfolio_title{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .portfolio_title>h2{
        padding: 0;
        max-width: 100%;
    }

    .header_about_left>p{
        font-size: 20px;
    }
    .contact_title>h2{
        font-weight: 400;
        font-size: 25px;
        line-height: 48px;
    }
    .contact_title>a{
        font-size: 20px;
    }

}


@media (max-width:320px){
    .portfolio_title>h2{
        font-size: 30px;
    }
}