.container{
    max-width: 1110px;
    margin: 0 auto;
}

header{
    padding-bottom: 50px;
}

.header_menu{
    padding-top: 65px;
}


.header_menu_left{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
}

.header_menu_left_list{
    display: flex;
    gap: 20px;
    
}

.header_menu_left_list>li>a{
text-decoration: none;
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #25202F;
opacity: 0.5;


}


.burger_menu{
border: none;
width: 70px;
height: 70px;
background: #FFFFFF;
box-shadow: 0px 20px 50px rgba(198, 185, 233, 0.3);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
gap: 7.5px;
flex-direction: column;
display: none;
}

.burger_menu>span{
    display: block;
    width: 22.5px;
    height: 2px;
    background-color: rgba(37, 32, 47, 1);
}

.header_maininfo{
    display: flex;
    justify-content: space-between;

}
.header_maininfo_left{
    padding-top: 130px;
}

.header_name_text{
font-family: var(--font-family);
font-weight: 500;
font-size: 24px;
line-height: 120%;
color: #666;
}

.header_name{
font-family: var(--font-family);
font-weight: 700;
font-size: 60px;
color: #25202f;
line-height: 120%;
}

.header_maininfo_left>p{
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #25202F;
padding-top: 20px;
}


.letstalk_btn{
    display: block;
    margin-top: 50px;
    width: 200px;
    height: 60px;
    border-radius: 100px;
    background-color: rgba(134, 67, 220, 1);
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.header_maininfo_right{
    position: relative;
    z-index: 1;
}

.colorful_shadow{
    display: block;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -10%;
    right: -20%;
}

.header_user_photo{
    max-width: 535px;
}

section{
    padding: 50px 0px;
}



.link_line{
width: 50px;
height: 2px;
background: #8643DC;
}

.skills_wrapper>a{
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #8643DC;
text-decoration: none;
padding-bottom: 10px;
}

.skills_title{
max-width: 200px;
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
color: #25202F;
padding: 15px 0px 44px 0px;
}



.skills_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.skills_list button {
    width: 170px;
    height: 170px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.skills_list button img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  object-fit: contain;
  
}


.html_button {
  box-shadow: 0 6px 20px rgb(250, 228, 207);
  background: rgb(255, 250, 246, 1);
  border: 1px solid rgb(250, 228, 207)
}

.css_button {
box-shadow: 0 6px 20px rgba(221, 245, 255, 1);
background: rgba(245, 252, 255, 1);
border: 1px solid rgba(221, 245, 255, 1)
}

.js_button {
box-shadow: 0 6px 20px rgba(255, 238, 201, 1);
background: rgba(255, 251, 242, 1);
border: 1px solid rgba(255, 238, 201, 1)
}







.portfolio_wrapper>a{
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #8643DC;
text-decoration: none;
padding-bottom: 10px;
}

.portfolio_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.portfolio_title>h2{
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
color: #25202F;
max-width: 200px;
padding: 15px 0px 30px 0px;
}

.portfolio_title_right{
    display: flex;
    align-items: center;
    gap: 10px;
}


.portfolio_title_right>a{
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
text-decoration-line: underline;
color: #25202F;
}

.arrow{
    background-color: transparent;
    border: none;
}

.portfolio_title_right>img{
width: 24px;
height: 24px;
left: 1251px;
top: 1378px;
}

.portfolio_photos{
    display: flex;
    gap: 30px;
}

.portfolio_photos>img{
width: 350px;
height: auto;
background: url(image.png);
filter: drop-shadow(0px 20px 50px rgba(220, 192, 255, 0.3));
border-radius: 10px;
}


.contact_me_wrapper>a{
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #8643DC;
text-decoration: none;
padding-bottom: 10px;
}



.contact_title{
    display: flex;
    justify-content: space-between;
}


.contact_title>h2{
padding: 20px 0px 50px 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 52px;
color: #21232D;
max-width: 500px;
}

.contact_title>a{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-decoration-line: underline;
text-transform: lowercase;

color: #8643DC;
}


.contact_input_wrapper{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.contact_input_wrapper>input{
border: none;
width: 1110px;
height: 44px;
background-color: transparent;
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #A8A0B0;


}

.contact_send_section{
    display: flex;
    justify-content: space-between;
}

.contact_send_section>button{
width: 200px;
height: 60px;
border-radius: 100px;
background: rgba(134, 67, 220, 1);
border: none;
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}

.contact_send_right{
    display: flex;
    gap: 6px;
}

.attach_button{
    width: 18px;
    height: auto;
    background-color: transparent;
    border: none;
}

.arrow_button{

    width: 30px;
    height: auto;
    background-color: transparent;
    border: none;
}

.friends_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 50px 0px;
}

.friends_wrapper>h2{
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 48px;
text-align: center;
color: #21232D;
padding-bottom: 30px;
}

.socials{
    display: flex;
    gap: 40px;
}


.socials>a>img{
    width: 50px;
    height: 50px;
}


.contact_me_wrapper2{
    padding: 100px 0px;
}


.header_about{
    display: flex;
    justify-content: space-between;

}
.header_about_left{
    padding-top: 130px;
}


.header_about_left>h1{
font-family: var(--font-family);
font-weight: 600;
font-size: 50px;
color: #25202f;
line-height: 120%;
}

.header_about_left>p{
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 350;
font-size: 23px;
line-height: 32px;
color: #25202F;
padding-top: 20px;
}



.info_wrapper>a{
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #8643DC;
text-decoration: none;
padding-bottom: 10px;
}

.info_title{
max-width: 300px;
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
color: #25202F;
padding: 15px 0px 44px 0px;
}

.info_list{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.info_list>li{
display: flex;
gap: 10px;
align-items: center;
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 32px;
color: #25202F;
}



.languages_wrapper>a{
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #8643DC;
text-decoration: none;
padding-bottom: 10px;
}

.languages_title{
max-width: 300px;
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
color: #25202F;
padding: 15px 0px 44px 0px;
}




.languages_list {
    display: flex;
    gap: 30px; 
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.language_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #dac5f5; 
    box-shadow: 0 8px 28px rgba(192, 153, 243, 0.3); 
    background-color: #f2ecfb; 
    width: 350px; 
    height: auto; 
    border-radius: 25px; 
}


.language_block > img {
    display: block;
    width: 180px; 
    height: auto;
    margin: 20px auto 10px auto;
    border-radius: 10px; 
}

.language_block_text {
    padding: 20px 15px;
    text-align: center;
}

.language_block_text > h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 26px; 
    line-height: 30px;
    color: #4f465a; 
    margin-bottom: 8px;
}

.language_level {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #6d6675;
    margin-bottom: 12px; 
}

.language_description {
    max-width: 280px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400; 
    font-size: 16px;
    line-height: 24px; 
    color: #4c4752;
    margin: 0 auto 15px auto;
}

.language_description_list {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    gap: 8px; 
    margin: 0 auto;
    padding: 0;
}

.language_description_list > li {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400; 
    font-size: 16px;
    line-height: 22px; 
    color: #4c4752;
}



.contacts_links_wrapper>a{
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #8643DC;
text-decoration: none;
padding-bottom: 10px;
}

.contacts_links_title{
max-width: 200px;
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
color: #25202F;
padding: 15px 0px 44px 0px;
}

.contacts_links_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 30px;
}




.contacts_links_list>div>a {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
    color: #000000;
}

.contacts_links_list>div>a>img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  object-fit: contain;
}


.contacts_links_phone>a {

  background: rgba(220, 235, 255, 0.9);
  border: 1px solid rgba(180, 200, 240, 0.8);
  box-shadow: 0 6px 20px rgba(200, 220, 255, 0.8);
}


.contacts_links_whatsapp>a {
  background: rgba(220, 255, 220, 0.9);
  border: 1px solid rgba(180, 240, 180, 0.8);
  box-shadow: 0 6px 20px rgba(200, 255, 200, 0.8);
}


.contacts_links_email>a {
  background: rgba(255, 230, 230, 1);
  border: 1px solid rgba(255, 200, 200, 1);
  box-shadow: 0 6px 20px rgba(255, 200, 200, 0.8);
}


.contacts_links_instagram>a {
  background: #fcf6d7; 
  border: 1px solid #fdf1c3;
  box-shadow: 0 6px 20px rgba(250, 234, 146, 0.5); 
}

.contacts_links_linkedin>a {
  background: rgba(220, 235, 255, 0.9);
  border: 1px solid rgba(180, 200, 240, 0.8);
  box-shadow: 0 6px 20px rgba(180, 210, 255, 0.8);
}


.contacts_links_github>a {
  background: rgba(240, 240, 240, 1);
  border: 1px solid rgba(210, 210, 210, 0.8);
  box-shadow: 0 6px 20px rgba(200, 200, 200, 0.6);
}